
body {
    background-color: #DFF6FF;
}

.sign-in-container {
    margin-top: 14%;
    width: 35rem;
    margin-bottom: 15%;
}

.brand-container {
    width: 120px;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.brand-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 110%;
    height: 120%;
}


/* footer section */

footer {
    background-color: gray;
}

.footer-container {
    padding: 7% 15% 7%;
    background-color: #06283D;
}

.footer-title {
    font-size: 2rem;
    color: white;
}

.footer-list {
    list-style-type: none;
}

.footer-options {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
}


.footer-options:hover {
    color: white;
    font-size: 1.5rem;
}

footer i {
    font-size: 3rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.7);

}

footer i:hover {
    color: white;
}

.copyright {
    color: rgba(203, 203, 203, 0.7);
    font-size: 1.2rem;
}


/**************** MEDIA QUERIES ********************/
/* mobile size and below */

@media (max-width: 576px) {
    .sign-in-container {
        margin: auto;
        margin-top: 12rem;
        width: 95%;
        padding: 5%;
    }
}
