<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(admin) OVA</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/log_in.css">
</head>

<body class="text-center">

    <div class="container-fluid sign-in-container">
        <div class="card">
            <div class="card-body">
                <form action="/admin/login" method="POST">
                    <div class="row">
                        <div class="col px-0 mt-1 text-end">
                            <h1 class="mb-0">Tienda </h1>
                        </div>
                        <div class="col ">
                            <a href="/">
                                <div class=" brand-container rounded mx-0 me-md-auto shadow">
                                    <img src="/images/brand.png" alt="Logo" class="brand-img">
                                </div>
                            </a>
                        </div>
                    </div>
                    <span class="fs-6 mb-4 text-warning">(administradores)</span>
                    <!-- <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                    <h1 class="h3 mb-3 fw-normal">Por Favor, Inicie Sesi칩n</h1>
                    
                    {{#if message}}
                        <div class="alert {{alertType}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {{/if}}

                    <div class="form-floating pb-3" bis_skin_checked="1">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                        <label for="floatingInput">Correo Electr칩nico</label>
                    </div>
                    <div class="form-floating pb-5" bis_skin_checked="1">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">Contrase침a</label>
                    </div>
                    
                    <!-- <div class="checkbox mb-3" bis_skin_checked="1">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div> -->
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesi칩n</button>
                </form>
            </div>
        </div>
    </div>

    <!-- footer section -->
    
    {{> footer}}
    
    </section>
</body>
</html>