<section id="heading">
    <div class="container-fluid container-heading">
        <div class="row mb-4 mx-3">
            <div class="row text-center">
                <h1 class="mb-0">Horarios de atención</h1>
            </div>
            <div class="px-2">
                <hr class="border border-primary opacity-100 border-2 ">
            </div>
            <div class="row">
                <div class="col col-12 col-md-6 text-center text-md-start">
                    <h2>Lunes a Viernes</h2>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="row text-center">
                        <div class="col col-12 col-lg-6  text-lg-end">
                            <h3>mañanas</h3>
                        </div>
                        <div class="col col-12 col-lg-6">
                            <h3>09:30 - 20:30</h3>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col col-12 col-lg-6 text-lg-end">
                            <h3>tardes</h3>
                        </div>
                        <div class="col col-12 col-lg-6">
                            <h3>14:00 - 18:30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-2">
                <hr class="border opacity-100 border-1 " style="border-color: #FFC93C!important">
            </div>
            <div class="row">
                <div class="col col-12 col-md-6 text-center text-md-start">
                    <h2>Sabados</h2>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="row text-center">
                        <div class="col col-12 col-lg-6  text-lg-end">
                            <h3>mañanas</h3>
                        </div>
                        <div class="col col-12 col-lg-6">
                            <h3>09:30 - 20:30</h3>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col col-12 col-lg-6  text-lg-end">
                            <h3>tardes</h3>
                        </div>
                        <div class="col col-12 col-lg-6">
                            <h3>14:00 - 18:30</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-md-start">
                <h3 class="fs-6 badge text-bg-success text-bold">abierto</h3>
                {{!-- <h3 class="fs-6 badge text-bg-danger text-bold">cerrado</h3> --}}
            </div>
        </div>
        
        <div class="search-bar-container">
            <div class="row">
                <div class="col col-2 col-lg-4">
                    <a class="btn btn-primary" href="/marketplace" role="button">
                        <i class="fa-solid fa-home"></i> <span class="sopping-cart-text d-none d-md-inline">Inicio</span>
                    </a>
                </div>
                
                {{!-- search bar --}}

                <div class="col col-7 col-lg-4">
                    <form action="/marketplace/search" class="d-flex" role="search" method="POST">
                        <input class="form-control me-2 " type="search" placeholder="Buscar" aria-label="Search" name="search">
                        <button class="btn btn-outline-primary" typeS="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                    </form>
                </div>


                <div class="col col-3 col-lg-4 text-end ">
                    <a class="btn btn-primary" href="/marketplace/cart_shopping" role="button"><i class="fa-solid fa-cart-shopping"></i> 
                    <span class="sopping-cart-text d-none d-md-inline-block">Carrito</span></a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    
</section>