<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin/home">
        <div class="row">
            <div class="col col-7 px-0 mt-1 text-end">
                <span class="mx-auto">
                    Tienda Virtual
                </span>
            </div> 
            <div class="col col-5">
                <div class=" brand-container rounded mx-0 ">
                    <img src="/images/brand.png" alt="Logo" class="brand-img">
                </div>
            </div>
        </div>
    </a>
    
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>